@import "../General.scss";

.button {
  padding: 10px;
  border-radius: $border-radius-l;
  text-align: center;
  background-color: $neutral-dark;
  margin-top: 15px;

  .label {
    color: $white;
  }
}
