@import "../General.scss";

.panel {
  border-radius: $border-radius-s;
  margin: 5px;
  padding: 5px;
  display: flex;

  .title {
  }
  .points {
    color: $neutral-dark;
  }

  .content {
    padding-left: 5px;
    display: flex;
    flex: auto;
    justify-content: space-between;
  }
}

.blue {
  @include panel-color($primary-blue);
}
.orange {
  @include panel-color($primary-orange);
}
.red {
  @include panel-color($primary-red);
}
.green {
  @include panel-color($primary-green);
}
