@import "../../General.scss";

.result {
  background: linear-gradient(
    200deg,
    $background-light-primary 0%,
    $background-light-secondary 50%
  );
  flex: 50%;
  color: white;
  border-radius: 20px;
  padding: 30px;

  h2 {
    @include h2-header($neutral-medium);
  }

  p {
    color: $neutral-medium;
  }
}
