@import "./General.scss";

.app {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font-family;
  height: 100vh;
  @media (max-width: 600px) {
    align-items: start;
  }
}

.card {
  display: flex;
  background-color: $white;
  border-radius: 20px;
  color: black;
  width: 40em;
  box-shadow: 5px 5px 28px 3px $neutral-light;
  @media (max-width: 600px) {
    flex-direction: column;
    height: 100%;
  }
}

html,
body {
  height: 100%;
}
