@import "./General.scss";

.app {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $font-family;
}

.card {
  display: flex;
  background-color: $white;
  border-radius: 20px;
  color: black;
  width: 80%;
  border: 1px solid $neutral-dark;
}

html,
body {
  height: 100%;
}
