%display-flex-centered {
  display: flex;
  justify-content: center;
  text-align: center;
}

@mixin panel-color($color) {
  background-color: rgba($color, 0.06);
  color: $color;
}

@mixin h2-header($color, $align: center) {
  margin: 0;
  margin-bottom: 25px;
  color: $color;
  font-weight: normal;
  text-align: $align;
}

// Colors

/// Pirmary
$primary-red: hsl(0, 100%, 67%);
$primary-orange: hsl(39, 100%, 56%);
$primary-green: hsl(166, 100%, 37%);
$primary-blue: hsl(234, 85%, 45%);

/// Gradients
$background-light-primary: #7857ff;
$background-light-secondary: #2e2be9;

$circle-primary: #4e21ca;
$circle-dark: #2421ca;

/// Neutral
$white: hsl(0, 0%, 100%);
$neutral-light: hsl(221, 100%, 96%);
$neutral-medium: hsl(241, 100%, 89%);
$neutral-dark: hsl(224, 30%, 27%);

$neutral-dark-faded: rgba($neutral-dark, 0.5);

// Typography

/// Body Copy
$body-font-size: 18px;

///Font
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");
$font-family: "Hanken Grotesk", sans-serif;

// Border-Radius
$border-radius-s: 10px;
$border-radius-m: 15px;
$border-radius-l: 25px;

p {
  margin: 0;
  padding: 0;
  font-size: $body-font-size;
}

h1 {
  margin-bottom: 25px;
}

* {
  box-sizing: border-box;
}
